<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenance page</title>

  </head>
    <h1>Pagina de mantenimiento</h1>
    <p>Esto es la pàgina de mantenimiento</p>
      {{> footer}}

  </html>
