<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}
    <h1>{{projectTitle}} </h1>
    <p>
        This is my project page
    </p>
    {{> footer}}
  </body>
</html>
